<!DOCTYPE html>
<html>

<head lang="zh-CN">
    <meta charset="UTF-8">
    <title>{block name="title"}中国中车大同电力机车有限责任公司{/block}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="alternate icon" type="image/png" href="__IMG__/logo.jpg">
    <link rel="stylesheet" href="__CSS__/amazeui.min.css" />
    <link rel="stylesheet" href="__CSS__/style.min.css" />
</head>

<body>
    <header>
        <div class="am-g">
            <div class="am-u-md-4 am-u-sm-12">
                <img src="__IMG__/logo.jpg">
            </div>
            <div class="am-u-md-8 am-u-sm-12">
                <h1>中国中车大同电力机车有限责任公司</h1>
                <p>CRRC DATONG ELECTRIC LOCOMOTIVE CO.,LTD
                    <br/>在线自动化协同办公系统（<b>O</b>ffice <b>A</b>utomation）</p>
            </div>
        </div>
        <hr />
    </header>
    <div class="am-g">
        <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
            {block name="sign"}{/block}
        </div>
    </div>
    <hr />
    <footer>
        <p> Copyright ©2017 CRRC DATONG ELECTRIC LOCOMOTIVE CO.,LTD Powered By MaiU·Office Automation Version 1.0.0 </p>
    </footer>

<script type="text/javascript" src="__JS__/jquery.min.js"></script>
{block name="script"}{/block}
</body>
</html>
